@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poiret+One&family=Quintessential&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poiret+One&family=Quintessential&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poiret+One&family=Quintessential&family=Spectral&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Poiret+One&family=Quintessential&family=Roboto:ital,wght@0,100..900;1,100..900&family=Spectral&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";
::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
@theme {
  --font-garamond:'EB Garamond', 'sans-serif';
  --font-quintessential: 'Quintessential', 'sans-serif';
  --font-spectral: 'Spectral', 'sans-serif';
  --font-roboto: 'Roboto', 'sans-serif';
}
/* Make sure map does not overlap with fixed navbar */
.leaflet-container {
  z-index: 0 !important;
}

/* Keep zoom controls above the map but below navbar */
.leaflet-control {
  z-index: 10 !important;
}

/* Ensure navbar/header stays on top */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50; /* higher than leaflet */
}

